body{
  background-color: #2d1f07;
  opacity: .8;
  background-image:  repeating-linear-gradient(45deg, #b49c7f 25%, transparent 25%, transparent 75%, #b49c7f 75%, #b49c7f), repeating-linear-gradient(45deg, #b49c7f 25%, #2d1f07 25%, #2d1f07 75%, #b49c7f 75%, #b49c7f);
  background-position: 0 0, 17px 17px;
  background-size: 34px 34px;

  padding: 0 20px 20px 20px;
  margin: 10px 20px;
}

h1{
    color: #CCCCCC;
    font-size: 3em;
    font-family: "WindSong", cursive;
}

h2, h3{
    color: #A3A3A3;
    font-size: 2em;
    font-family: "Borel", cursive;
}

p, li, a{
  color: #A3A3A3;
  font-family: "Poiret One", sans-serif;	
  font-size: 1em;
}
