body{
  background-color: #ffedd5;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #ebd8c2 25%, transparent 25%, transparent 75%, #ebd8c2 75%, #ebd8c2), repeating-linear-gradient(45deg, #ebd8c2 25%, #ffedd5 25%, #ffedd5 75%, #ebd8c2 75%, #ebd8c2);
  background-position: 0 0, 24px 24px;
  background-size: 48px 48px;

  padding: 0 20px 20px 20px;
  margin: 10px 20px;
  color: #445849;
}

h1{
    font-size: 3em;
   font-family: "Stalemate", cursive;
}

h2, h3{

  font-size: 2em;
  font-family: "Stalemate", cursive;
}

p, li, a{
  font-family: "Almendra SC", serif;  font-size: 1em;
}
