/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

/* rubik-vinyl-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Vinyl';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/rubik-vinyl-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* markazi-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/markazi-text-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Font and Text Styles*/

html {
      font-size: 16px;
      background-image: url(images/circles-and-roundabouts.png);
}

body {
  font-family: 'Markazi Text', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: #6E695E;
}

p {
  font-size: 1em;
  color: #6E695E;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik Vinyl', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Rubik Vinyl', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.05em;
  text-align:center;
  color: #c0c0c0;
  background-image: url(images/dark_embroidery.png);
      
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}


/* Main Flexbox Code */

.nav, .boxes{
	display: flex;
	flex-flow: row wrap;

}

.nav{
	justify-content: space-between;
}

.nav a{
	width: 23%;
}

.boxes div{
	flex: 1 1 250px ;
	margin: 10px;
	border-radius: 5px;
	padding: 10px 10px 0 10px;
	background-color: rgba(0,0,0,.1);
	display: flex;
	flex-flow: column;

}

.boxes .more{
	margin-top: auto;

}


@media (max-width: 90px) {
	.nav {
		flex-flow: column;
	}

	.nav a{
		width: 100%;
		margin-bottom: 2px;
	}
}
