/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

/* astloch-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Astloch';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/astloch-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* scheherazade-new-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/scheherazade-new-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Font and Text Styles*/

html {
      font-size: 16px;
      background-color: #00674F;
      opacity: 1;
      background-image:  linear-gradient(30deg, #00a37d 12%, transparent 12.5%, transparent 87%, #00a37d 87.5%, #00a37d), linear-gradient(150deg, #00a37d 12%, transparent 12.5%, transparent 87%, #00a37d 87.5%, #00a37d), linear-gradient(30deg, #00a37d 12%, transparent 12.5%, transparent 87%, #00a37d 87.5%, #00a37d), linear-gradient(150deg, #00a37d 12%, transparent 12.5%, transparent 87%, #00a37d 87.5%, #00a37d), linear-gradient(60deg, #00a37d77 25%, transparent 25.5%, transparent 75%, #00a37d77 75%, #00a37d77), linear-gradient(60deg, #00a37d77 25%, transparent 25.5%, transparent 75%, #00a37d77 75%, #00a37d77);
      background-size: 80px 140px;
      background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

body {
  font-family: 'Scheherazade New', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: #00674F;
}

p {
  font-size: 1.2em;
  line-height: 1.66;
  color: #00674F;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Scheherazade New', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Astloch', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.05em;
  text-align:center;
  color: #D6B588;
  background-color: #00674F;
  /*background-image: url(images/dark_embroidery.png);*/  
}

h2{
      font-size: 2.5em;
      font-family: 'Astloch', sans-serif;
      .text-size-h2 { font-size: 2.44em; }
}

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

body {
  margin: 20px;
  border: 0;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  width: 900px;
  height: 1200px;
  grid-template: repeat(3, 1fr) / repeat(4,1fr);
  gap: 30px;

}

/* CSS Grid Items */
.box {
      margin: 10px;
      
      background-color: #D6B588;
opacity: 1;
background-image:  linear-gradient(135deg, #c9a27c 25%, transparent 25%), linear-gradient(225deg, #c9a27c 25%, transparent 25%), linear-gradient(45deg, #c9a27c 25%, transparent 25%), linear-gradient(315deg, #c9a27c 25%, #D6B588 25%);
background-position:  40px 0, 40px 0, 0 0, 0 0;
background-size: 40px 40px;
background-repeat: repeat;
      
      color: #00674F;
}

/* Grid Box Text Margin*/
.box h2, h3, p{
     margin: 10px;
}

.box p{
        margin: 10px;
        background-color: #c9a27c;
}

/* Paragraph Text color override */
.top{
      color:#D6B588;
}

/* Green Banner over top portion of page for better text visibility*/
.topp{
       background-color: #00674F;
 
}


