body {
  margin: 0;
  border: 0;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

p {
  font-size: 1rem;
}

h1,
h2 {
  text-align: center;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  border: 4px gray solid;
  border-radius: 5px;
  width: 800px;
 height: 1000px;
 /*grid-template: repeat(3, 1fr) / repeat(3,100px);*/
 grid-template: repeat(4,1fr, 2fr) / repeat(4,k 3fr, 2fr);
 gap: 5px;
 /*grid-template-columns: 100px 50% 200px;
 grid-template-rows: 10% 20% 600px;*/
 drid-area: 4 / 4 / span 3 / span3;

]
  
}

/* CSS Grid Items */
.box {
  background-color: dodgerblue;
  color: black;
  border-radius: 5px;
  border: 4px royalblue solid;
}


.a {
  grid-row-start:1;
  grid-row-end: 3;
}

