body {
  margin: 0;
  border: 0;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  width: 900px;
  height: 1200px;
  grid-template: repeat(3, 1fr) / repeat(4,1fr);
  gap: 30px;

}

/* CSS Grid Items */
.box {
  background-color: #808080;
  color: black;
}


