/* Font and Text Styles*/

html {
      font-size: 16px;
      /*background-image: url(images/circles-and-roundabouts.png);*/
}

body {
  font-family: 'Markazi Text', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: #6E695E;
}

p {
  font-size: 1.5em;
  color: #C0C0C0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik Vinyl', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Rubik Vinyl', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.05em;
  text-align:center;
  color: #c0c0c0;
  /*background-image: url(images/dark_embroidery.png);*/
      
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

body {
  margin: 20px;
  border: 0;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  width: 900px;
  height: 1200px;
  grid-template: repeat(3, 1fr) / repeat(4,1fr);
  gap: 30px;

}

/* CSS Grid Items */
.box {
  background-color: #808080;
  color: black;
}


