body {
  margin: 0;
  border: 0;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  width: 300px;
  height: 500px;
  grid-template: repeat(3, 1fr) / repeat(4,100px);
  gap: 20px;

}

/* CSS Grid Items */
.box {
  background-color: #808080;
  color: black;
}


.a {
  grid-row-start:1;
  grid-row-end: 3;
}

