/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

nav ul{
  list-styles: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

nav ul li{
      padding: 10px;
      border-radius: 5px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #ffffff;
	padding: 10px 20px;
	background: #ff932d;
	border-radius: 5px;
	border: 1px solid #c95e00;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

nav a{
	transition: transform .3s, background-color .7s ease-in .3s;
}

/* a:hover means whatever your mouse is hovering over*/
nav a:hover{
	background-color : red;
	transform: scale(1.5);
}

/* navigation bar end*/

aside{
  width: 30%;
  float: center;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
