/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

/* my-soul-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'My Soul';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/my-soul-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* markazi-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/markazi-text-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* almendra-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/almendra-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Mostly Font Related Styles (plus the background image)*/

html {
	
	 font-size: 16px;
	 /*background-image: url(images/upfeathers.png);*/
}

	h1{
	font-family: 'My Soul';
}
	h2, h3{
    font-family: 'Markazi Text';
}

p{
    font-family: 'Almendra';
}







/* Code for specific sections*/
nav ul{
  list-styles: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

nav ul li{
      padding: 10px;
      border-radius: 5px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #FFD700;
	padding: 10px 20px;
	background: #750707;
	border-radius: 5px;
	border: 1px solid #c95e00;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1.5px rgba(000,000,000,0.2),
		0px 1.5px 0px rgba(255,255,255,0.3);
}

nav a{
	transition: transform .3s, background-color .7s ease-in .3s;
	transition: transform .3s, color .7s ease-in .3s;
}

/* a:hover means whatever your mouse is hovering over*/
nav a:hover{
	background-color : #FFD700;
	color: #750707;
	transform: scale(1.5);
}

/* navigation bar end*/

aside{
  width: 30%;
  float: center;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);


@keyframes hero {
	
	from{
		transform: rotate(0) scale(.5);
		left: 120%;
	}

	50{
		transform: rotate(-720deg) scale(.5);
		left: 0;
	}

	to{
		transform: rotate(0) scale(1);	}

}

}
