/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       
#FFED88
 Insert all your glorious CSS styles below! */
body{

  background-image: url(images/wheat.png) repeating-linear-gradient;
  background-position: 0 0, 24px 24px;
  background-size: 48px 48px;

  padding: 0 20px 20px 20px;
  margin: 10px 20px;
  color: #FFE8C3;
}

h1, h2, h3, h4{
    font-family: "Condiment", cursive;  
}

p{
     font-family: "Poiret One", sans-serif; 
}
