/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       
 Insert all your glorious CSS styles below! */

/*This sets mainly the background image for all of the contents within <body> */
body{

  background-image: url(images/wheat.png);

  padding: 0 20px 20px 20px;
  margin: 10px 20px;
}

/*This sets the default settings for the fonts and text color for the heading tags */
h1, h2, h3{
    font-family: "Condiment", cursive;
    color: #FFE8C3;
    font-size: 3em;
      
}

/*This sets the default settings for the regular paragraph text's font and overrides the previous default setting for the text color */
p{
     font-family: "Poiret One", sans-serif; 
     color: #FFED88;
     line-height: 150%;
     font-size: 1em;
}

/*This adds in the floating hat to the right side of the summary paragraph */
.sum{
      background: url(images/yellows_hat.png) no-repeat 30px 30px;
      background-position: center right;
      
      margin-left: 60px;
}
