/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       
 Insert all your glorious CSS styles below! */

/*This sets the background image for all of the contents within <html> */
html{
  background-image: url(images/wheat.png);
}

/*This sets the default settings for all of the contents within <body> */
body{
  padding: 0 20px 20px 20px;
  margin: 10px 20px;
}

/*This sets the custom styles for the <h1> heading tag:font size, text color, and the font styles*/
h1{
      font-family: "Condiment", cursive;
      color: #FFE8C3;
      font-size: 3em;
}

/*This sets the custom styles for the <h2> heading tag:font size, text color, and the font styles*/
h2{
    font-family: "Condiment", cursive;
    color: #FFE8C3;
    font-size: 2em;
}

/*
This sets the default settings for the fonts and text color for the <h2> and <h3> tags. 

I did not change the font-size for these individual heading tags because after spending a while playing around with each individual heading tag's sizes,
I couldn't find a size that I liked more than the default font-sizes for the h2 and h3 headers. However, I did set the paragraph text and h1 with a custom
font-size because those two looked much better with custom font-sizes.
*/

h3{
    font-family: "Condiment", cursive;
    color: #FFE8C3;
}

/*This sets the custom settings for the regular paragraph text's font*/
p{
     font-family: "Poiret One", sans-serif; 
     color: #FFD890;
     line-height: 150%;
     font-size: 1em;
}
   
/*This overrides the custom settings for the final summary's paragraph text's size and margin (in order to make space for the floating hat)*/
.text{
      margin-right: 120px;
      .small_font_14 {font-size:14px;}
}
/*This adds in the floating hat to the right side of the summary paragraph */
.sum{
      background: url(images/yellows_hat.png) no-repeat 30px 30px;
      background-position: center right;
}
